@page
@model semWork.Pages.CoursesModel;
@{ ViewData["Title"] = "Courses"; }
@section Styles {
    <link rel="stylesheet" href="./css/ListOfCourses.css">
}

<div class="first_container">
    <h1>
        Курсы
    </h1>

    <div class="container_of_courses">
        <div class="searcher_wrapper">
            <form class="searcher">
                <i class="" aria-hidden="true"></i>
                <input class="search" type="text" placeholder="Введите имя курса" id="searcher">
                <input class="search_button" type="submit" value="Поиск" id="submitSearch">
            </form>

            <ul class="course_list">
                @foreach (var course in Model.courses)
                {
                    <li class="course" id="@course.course_id">

                        <img src="@course.photo" height="150" width="140" />
                        <div class="course_container">

                            <h2>
                                @course.name
                            </h2>

                            <div class="rate">
                                Балл курса:
                            </div>


                            <p class="description_course">
                                @course.description
                            </p>

                            <form asp-page="/Course" asp-route-id="@course.course_id">
                                <input type="submit" id="to_course" class="to_course" placeholder="Перейти">
                            </form>


                        </div>
                    </li>
                }

            </ul>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>

    <script>
        jQuery(document).ready(function ($) {
            $(document).on("click", "#submitSearch", function (e) {
                event.preventDefault();
                let searchValue = $("#searcher").val().toLowerCase();

                 $(".course_list").each(function () {
                    let stringData = $(this).text().toLowerCase();
                    if (stringData.indexOf(searchValue) === -1) {
                        $(this).hide();
                    } else {
                        $(this).show();
                    }
                })
            })
        });

    </script>


